/* Font Colors */

$base-font-size:15px;
$base-font-family:"Segoe UI", "Segoe WF", "Segoe Regular", sans-serif;
$base-font-color:#666666;

/* Background Colors*/

$primary-color:#00aff0;
$secondary-color:#57be2b;
$light-color:#e4eef2;
$dark-color:#2b5464;
$nav-text-color: #f4723a;
$nav-background-color:#f2f2f2;

/*Showcase Area*/

$showcase-height: max-heigh;
$showcase-image: '../img/home_table_vs1.png';